@include normalize();

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: $base-font;
}

.content {
  flex: 1 0;
}

.container {
	width: 100%;
  padding: 0 15px;

  @include small {
    margin: 0 auto;
    width: 540px;
  }

  @include medium {
    width: 720px;
  }

  @include large {
    width: 960px;
  }

  @include extra {
    width: 1140px;
  }
}

.btn-red {
	margin: 5px;
	color: #fff;
	border: 1px solid rgb(226, 211, 0);
	width: 30%;
	border-radius: 25px;
	background: transparent;
	background-image: linear-gradient(red, black);
	box-shadow: inset 0 0 1px 1px #700000, 0px -1px 0px 0.1px #ffec80, 0px 1px 0px 0.1px #9c914e;
	text-transform: uppercase;
	font-size: 14px;
	padding: 10px 7px;
	outline: none;
	cursor: pointer;
	position: relative;
	&:before {
		content: '';
		color: transparent;
		width: 80%;
		height: 10px;
		top: 0;
		left: 8px;
		background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
		border-radius: 120px/25px;
		position: absolute;
	}
	&:active {
		background: rgb(87, 0, 0);
		background-image: none;
		color: #000;
		box-shadow: inset 0px -1px 2px #000, 0px -1px 0px 0.1px #ffec80, 0px 1px 0px 0.1px #9c914e;
		font-weight: bold;
	}
	&:active:before {
		display: none;
	}
}