.bandit {
  margin: 100px auto;
  width: 300px;
  height: 400px;
  background: #700000ef;
  border: 2px solid #700000;
  position: relative;
}

.slots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  overflow: hidden;
}

.imgContainer {
  position: relative;
  overflow: hidden;
}

.slot {
  width: 30%;
  background: #fff;
  border: 2px solid #700000;
  margin: 5px;
  overflow: hidden;
}

.img {
  width: 100%;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 100px;
  position: absolute;
  width: 100%;
}

.score__item {
  font-size: 20px;
  width: 30%;
  margin: 5px;
  padding: 15px;
  background: #fff;
  border: 2px solid #700000;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 25px;
  width: 100%;
}