.bandit {
  margin: 20px auto;
  width: 400px;
  height: 450px;
  border: 2px solid rgb(255, 255, 255);

  background: rgba(255, 255, 255, 0.884);
  // border: 2px solid #fff;
  position: relative;

  // box-shadow: 0px 5px 15px 5px rgb(255, 255, 255);

}

.slots {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  overflow: hidden;
  background: #fff;
}

.imgContainer {
  position: relative;
  overflow: hidden;
}

.slot {
  width: 30%;
  overflow: hidden;
}

.img {
  width: 100%;
  transition: ease-out 0.5s;
}

.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 100px;
  position: absolute;
  width: 100%;
  &__title {
    font-size: 18px;
  }
}

.score__item {
  font-size: 22px;
  width: 25%;
  margin: 5px;
  padding: 10px 25px;
  text-align: center;
  background: #fff;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 25px;
  width: 100%;
}