.bandit {
  margin: 20px auto;
  width: 400px;
  height: 450px;
  background: rgba(255, 255, 255, 0.884);
  border: 1px solid #fff;
  position: relative;
}

.slots {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  overflow: hidden;
}

.imgContainer {
  position: relative;
  overflow: hidden;
}

.slot {
  width: 30%;
  background: #fff;
  border: 1px solid #fff;
  // margin: 5px;
  overflow: hidden;
}

.img {
  width: 100%;
}

.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 100px;
  position: absolute;
  width: 100%;
}

.score__item {
  font-size: 20px;
  width: 25%;
  margin: 5px;
  padding: 10px 25px;
  background: #fff;
  border: 1px solid #fff;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 25px;
  width: 100%;
}