<div class="container container--bandit">
	<div class="bandit">

    <div class="slots"> 
      <div class="slot firstSlot" id="firstSlot">
        <div class="imgContainer">
          <img class="img imgFirst" src="img/seven.png"/>
          <img class="img imgFirst" src="img/bw.png" hidden/>
          <img class="img imgFirst" src="img/cherries.png" hidden/>
          <img class="img imgNext" src="img/clover.png" hidden/>
          <img class="img imgNext" src="img/jackpot.png" hidden/>
        </div>
      </div>
  
      <div class="slot seconSlot" id="seconSlot">
        <img class="img imgSecond" src="img/strawberry.png"/>
      </div>
  
      <div class="slot thirdSlot" id="thirdSlot">
        <img class="img imgThird" src="img/plum.png"/>
      </div>
    </div>

    <div class="score">
      <div class="score__item">
        <span>Total:</span>
        <span class="total">1000</span>
      </div>
      
      <div class="score__item bet">
        <span>Bet:</span>
        <span>$50</span>
      </div>
      
      <div class="score__item">
          <span>Last win:</span>
        <span class="win">0</span>
      </div>
    </div>
    
    <div class="controls">
      <button class="btn-red start">
        Старт
      </button>
      <button class="btn-red double">
        Удвоить
      </button>
      <button class="btn-red exit">
        Выход
      </button>
    </div>

    <audio src="mp3/start.mp3" class="play"></audio>

	</div>
</div>
