<div class="container container--bandit">
  <div class="bandit">

    <div class="slots">
      <div class="slot firstSlot" id="firstSlot">
        <img class="img imgFirst" src="img/seven.png" />
      </div>

      <div class="slot seconSlot" id="seconSlot">
        <img class="img imgSecond" src="img/strawberry.png" />
      </div>

      <div class="slot thirdSlot" id="thirdSlot">
        <img class="img imgThird" src="img/plum.png" />
      </div>
    </div>

    <div class="score">
      <div class="score__item">
        <span>Total:</span>
        <span class="total">1000</span>
      </div>

      <div class="score__item bet">
        <span>Bet:</span>
        <span>50</span>
      </div>

      <div class="score__item">
        <span>Win:</span>
        <span class="win">0</span>
      </div>
    </div>

    <div class="controls">
      <button class="btn-red start">
        PLAY
      </button>
    </div>

    <div id="p_prldr">
      <div class="contpre">

        <img class="img-preload svg_anm" src="img/strawberry.gif">

        <div class="div">
          <p class="svg_anm">
            <span class="svg_anm">Подождите</span>
            <span class="svg_anm2">идет загрузка</span>
          </p>
        </div>
      </div>
    </div>



    <audio src="mp3/start.mp3" class="play"></audio>

  </div>
</div>