<div class="container container--bandit">

  {% set items =
  [
  { img: "img/plum.png", value: 10 },
  { img: "img/bananas.png", value: 20 },
  { img: "img/pear.png", value: 30 },
  { img: "img/watermelon.png", value: 40 },
  { img: "img/cherries.png", value: 50 },
  { img: "img/strawberry.png", value: 60 },
  { img: "img/clover.png", value: 70 },
  { img: "img/seven.png", value: 100 },
  { img: "img/bw.png", value: 200 },
  { img: "img/jackpot.png", value: 300 }
  ]
  %}

  <div class="rules">
    <div class="overlay"></div>

    <div class="rules__text">
      {% for item in items %}
      <div class="rules__item">
        <img class="rules__img" src="{{ item.img }}" alt="{{ item.img }}">
        <img class="rules__img" src="{{ item.img }}" alt="{{ item.img }}">
        <img class="rules__img" src="{{ item.img }}" alt="{{ item.img }}">

        <span class="rules__value">${{ item.value }} * 3</span>
      </div>
      {% endfor %}

    </div>
    <a href="#" class="btn-rules btn-red">Click me!</a>
  </div>


  <div class="bandit">

    <div class="slots">
      <div class="slot firstSlot" id="firstSlot">
        <img class="img imgFirst" src="img/seven.png" />
      </div>

      <div class="slot seconSlot" id="seconSlot">
        <img class="img imgSecond" src="img/strawberry.png" />
      </div>

      <div class="slot thirdSlot" id="thirdSlot">
        <img class="img imgThird" src="img/plum.png" />
      </div>
    </div>

    <div class="score">
      <div class="score__item">
        <span class="score__title">Total:</span>
        <span class="total">1000</span>
      </div>

      <div class="score__item bet">
        <span class="score__title">Bet:</span>
        <span class="score__value">50</span>
      </div>

      <div class="score__item">
        <span class="score__title">Win:</span>
        <span class="win">0</span>
      </div>
    </div>

    <div class="controls">
      <button class="btn-red start">
        Start
      </button>
      <button class="btn-red double">
        Bet +50
      </button>
    </div>

    <div id="p_prldr">
      <div class="contpre">
        <img class="img-preload svg_anm" src="img/strawberry.gif">

        <div class="div">
          <p class="svg_anm">
            <span class="svg_anm">Подождите</span>
            <span class="svg_anm2">идет загрузка</span>
          </p>
        </div>
      </div>
    </div>



    <audio src="mp3/start.mp3" class="play"></audio>

  </div>
</div>


<!-- <a href="#" class='btn open-modal' data-modal="#modal1">Open Modal</a>

<div class='modal' id='modal1'>
  <div class='content'>
    <h1 class='title'>This is a modal</h1>
    <p>
      Here is some text and stuff. cool cool
    </p>
    <a class='btn close-modal' data-modal="#modal1" href="#">K Bye</a>
  </div>
</div> -->